<p></p>
<p></p>
<p></p> 
<div class="banner mt-30" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://www.fjordsandbeaches.com/wp-content/uploads/2018/10/alcohol-bar-party-cocktail.jpg);background-attachment: fixed;background-position-y: center;">
  <div class="container">
    <h1 class="main-text-banner"> All cocktails to prepare at any time</h1>
    <p> Scroll down to drink.</p>
  </div>
</div>
<div class="cards-container col-lg-10 col-md-10 col-12">
    <% @cocktails.each do |cocktail|%>
        <div class="card-product" id="cards-hover">
            <img src="https://www.thespruceeats.com/thmb/VyFdz48oLo2zUsgpKBSl6bPjv4E=/1039x1039/smart/filters:no_upscale()/woo-woo-cocktail-recipe-759852-Hero-5b8c4ee546e0fb002508fa5b.jpg" />
            <div class="card-product-infos">
                <h2><%= cocktail.name.capitalize %></h2>
                <p><strong>Created: </strong><%= cocktail.created_at %></p>
            </div>
        </div>

    <% end %>
    
</div>

