<p></p>
<p></p>
<p></p> 
<div class="banner mt-30" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://www.fjordsandbeaches.com/wp-content/uploads/2018/10/alcohol-bar-party-cocktail.jpg);background-attachment: fixed;background-position-y: center;">
  <div class="container">
    <h1 class="main-text-banner"> All cocktails to prepare at any time</h1>
    <p> Scroll down to drink.</p>
  </div>
</div>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>


