
<div class="header-separator col-lg-12 col-12"></div>

<div class="background-container col-12">
  <div class="new-container col-lg-12 col-12 d-flex">
    <div class="new-form col-lg-5">
      <h3>New Cocktail</h3>
      <%= simple_form_for(@cocktail) do |f| %>
        <%= f.input :name %>
        <%= f.submit "Create Cocktail" %>
      <% end %>
    </div>
    <div class="new-img col-lg-7"></div>
  </div>
</div>


 